<a href="https://colab.research.google.com/github/elisabrosera/storytelling-with-data/blob/master/story4EA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#number crunching
import numpy as np
import pandas as pd

#data visualization
import plotly
import plotly.express as px
import seaborn as sns
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [17]:
# Provide code for downloading or importing your data here
uv = pd.read_excel('https://github.com/elisabrosera/storytelling-with-data/raw/master/data-stories/VT-DoH/uv-county.xlsx')

In [ ]:
uv.head()

  STATENAME STATE_ABR  COUNTY_FIPS COUNTY NAME  UV_ Wh/m²
0   Alabama        AL         1001     Autauga    4562.75
1   Alabama        AL         1003     Baldwin    4492.24
2   Alabama        AL         1005     Barbour    4642.21
3   Alabama        AL         1007        Bibb    4498.72
4   Alabama        AL         1009      Blount    4416.44

In [21]:
# create an example choropleth map-- for "insurance" data
fig = px.choropleth(uv, geojson=counties, locations='COUNTY_FIPS', color='UV_ Wh/m²',
                    color_continuous_scale='orrd', range_color=(89, 96), scope='usa',
                    labels={'Indicator Value': 'Insured (%)'})

fig.update_geos(fitbounds="locations", visible=True)
fig.show()

NameError: ignored