In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import hypertools as hyp
import seaborn as sns
%matplotlib inline

In [67]:
#load in the data

fname1 = 'Uber-Jan-Feb-FOIL.csv'
columns1 = ('dispatching_base_number', 'date', 'active_vehicles', 'trips')
FOIL_df = pd.read_csv(fname1, skiprows=[0], names=columns1)

In [72]:
fname2 = 'Aggregate FHV Data.xlsx'


sheet1 = 'Trips Per Day'
sheet2 = 'Trips Per Hour and Weekday'
sheet3 = 'Change in Trips Sep 2013-2014'
sheet4 = 'Change in Daily Trips by Hour'

FHV_col1 = ('Date', 'American', 'Carmel', 'Dial 7', 'Diplo', 'Firstclass', 'Highclass', 
            'Prestige', 'Skyline', 'Lyft', 'Uber', 'Yellow Taxis', 'Green Taxis')
FHV_col3 = ('Location', 'Uber and Lyft Trips Per Day 2014', 
            'Yellow Taxi Trips Per Day 2014', 'Yellow Taxi Trips Per Day 2013')
FHV_col4 = ('Hour', 'Uber and Lyft Trips in MN Core (Sep 2014)', 
           'Change in Daily Yellow Trips in MN Core (Sep 2014 compared with Sep 2013')

## data key: MN, JFK, LGA
FHV_df1 = pd.read_excel(fname2, sheetname = sheet1, skiprows=[0], names = FHV_col1)
FHV_df3 = pd.read_excel(fname2, sheetname = sheet3, skiprows=[0], names = FHV_col3)
FHV_df4 = pd.read_excel(fname2, sheetname = sheet4, skiprows=[0], names = FHV_col4)

In [73]:
FHV_df1

,Date,American,Carmel,Dial 7,Diplo,Firstclass,Highclass,Prestige,Skyline,Lyft,Uber,Yellow Taxis,Green Taxis
0,2014-07-02,1028,2965,2409,1275,2228,1661,3533,1691,0,26480,434416,42472
1,2014-07-03,1068,3361,2520,1200,2121,1599,3649,1157,0,21597,412980,46046
2,2014-07-04,1008,2174,1955,1171,1459,1622,3401,337,0,14148,306773,41535
3,2014-07-05,1214,1846,1371,1371,1703,1898,4081,276,0,10890,305653,46873
4,2014-07-06,1048,2480,1872,1251,1501,1738,3545,401,0,11443,310376,40354
5,2014-07-07,893,3028,2213,1009,1768,1457,3284,1330,0,18280,374578,34130
6,2014-07-08,916,2706,2073,1065,1815,1387,3171,1634,0,25763,430482,35756
7,2014-07-09,841,2883,2209,987,1827,1342,3176,1897,0,27817,443822,36503
8,2014-07-10,823,3222,2425,904,1746,1367,3081,2047,0,30541,451208,39051
9,2014-07-11,1067,2906,2282,1128,2085,1672,3758,1440,0,28752,453967,45383
10,2014-07-12,1284,2182,1621,1395,1972,1968,4128,511,0,25936,442979,54366
11,2014-07-13,1060,2412,1884,1249,1655,1750,3902,493,0,21082,406279,46076
12,2014-07-14,900,3117,2294,1080,1911,1636,3495,1734,0,27350,412054,37143
13,2014-07-15,959,2991,2327,1079,1903,1473,3355,2012,0,33845,432325,38249
14,2014-07-16,907,3111,2467,961,1800,1386,3059,2109,0,28607,444308,36451
15,2014-07-17,944,3317,2628,887,1811,1325,3206,1987,0,30710,451940,39713
16,2014-07-18,1077,2960,2418,1162,1916,1594,3639,1355,0,29860,455255,46130
17,2014-07-19,1246,2138,1606,1273,1866,1786,3959,475,0,25726,441026,52666
18,2014-07-20,1122,2360,1917,1225,1712,1797,3760,482,0,21212,394270,45355
19,2014-07-21,839,3077,2254,937,1781,1391,3020,1591,0,23578,394920,33042
20,2014-07-22,778,2882,2088,932,1873,1377,2892,1798,0,29029,442945,35203
21,2014-07-23,893,3097,2458,929,1926,1379,3041,2083,0,34073,461755,38839
22,2014-07-24,850,3345,2616,913,1740,1315,2892,1987,0,32050,456722,38704
23,2014-07-25,1084,3112,2397,1115,2035,1646,3562,1449,40,29975,456674,44431
24,2014-07-26,1188,2208,1731,1324,1846,1785,3902,463,468,27708,444333,53004
25,2014-07-27,1082,2320,1780,1269,1675,1738,3882,525,623,22590,399454,46195
26,2014-07-28,828,3056,2201,961,1860,1457,3119,1651,418,23981,364335,29186
27,2014-07-29,782,2835,2142,872,1699,1400,2962,1837,671,27589,418579,32944
28,2014-07-30,825,2853,2230,910,1744,1358,2923,1896,884,30740,437032,36869
29,2014-07-31,873,3287,2455,929,1871,1457,3094,1961,1150,33541,447939,41471
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2014-09-01,830,2387,2000,848,1211,1520,3033,1846,5491,19961,316080,35898
62,2014-09-02,955,2967,2146,991,1703,1565,3387,2063,4467,28831,405137,36957
63,2014-09-03,944,2794,2031,1006,1852,1513,3269,437,4670,32631,436909,39453
64,2014-09-04,970,2914,2205,912,1846,1652,3303,1746,4890,38360,464560,43364
65,2014-09-05,1104,2871,2145,1194,1914,1872,3874,1978,5748,42319,491597,50243
66,2014-09-06,1317,2152,1617,1249,1798,2176,4192,2121,7722,40520,498687,59470
67,2014-09-07,1107,2426,1878,1122,1645,2014,3705,1680,6797,30134,441151,48610
68,2014-09-08,883,3050,2215,934,1826,1569,3157,585,3849,30360,426013,37010
69,2014-09-09,860,2780,2112,810,1750,1472,3086,680,3895,34560,445940,37694
70,2014-09-10,878,3006,2348,865,1797,1413,2993,1961,4262,35910,461689,39746
71,2014-09-11,860,3237,2316,939,1908,1465,3210,2106,4872,36439,473585,42838
72,2014-09-12,1096,3183,2406,1113,2016,1883,3877,2219,4712,39540,481786,51430
73,2014-09-13,1440,2315,1771,1440,2085,2375,4470,2128,5226,43205,509480,64184
74,2014-09-14,1256,2600,2039,1261,1815,2163,4211,1731,4116,28122,446339,51675
75,2014-09-15,858,3294,2363,953,1851,1613,3214,747,2187,29454,417686,37400
76,2014-09-16,873,3074,2185,1025,1894,1676,3205,754,2028,36092,443230,39642
77,2014-09-17,785,3137,2342,935,1742,1532,3013,1988,2149,35531,446201,39566
78,2014-09-18,943,3507,2795,983,1818,1616,3213,2230,2364,40274,459159,43899
79,2014-09-19,1126,3256,2405,1145,2072,1974,3895,2181,2844,41017,483660,52115
80,2014-09-20,1206,2297,1689,1192,1836,2150,4198,2204,4026,38864,488090,60211
81,2014-09-21,1130,2462,1966,1273,1723,2118,3909,1635,3481,28620,397763,50535
82,2014-09-22,812,3270,2352,969,1817,1638,3110,574,1886,28312,389058,37103
83,2014-09-23,768,2927,2222,871,1771,1451,3025,651,2028,30316,396844,38492
84,2014-09-24,841,3066,2328,968,1764,1437,3077,1784,2243,31301,412595,40373
85,2014-09-25,947,3159,2377,984,1750,1565,3433,1987,2891,38203,422624,43249
86,2014-09-26,1101,2816,2064,1055,1934,1801,3598,1927,3089,37504,444105,49660
87,2014-09-27,1291,2240,1687,1301,1917,2072,4297,1725,4555,39468,482615,61248
88,2014-09-28,1080,2559,1949,1260,1831,2032,3985,1477,4509,29656,429068,51832
89,2014-09-29,772,3225,2349,972,1868,1558,3215,561,2631,29201,396191,37657
90,2014-09-30,848,2824,2004,1017,1789,1527,3137,633,2371,33431,431354,38665