In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import hypertools as hyp
from glob import glob as lsdir
import os
import re
import datetime as dt

from sklearn import linear_model
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split

%matplotlib inline

# Read in data

In [28]:
data_readers = {'xlsx': pd.read_excel, 'xls': pd.read_excel, 'dta': pd.read_stata}
get_extension = lambda x: x.split('.')[-1]

In [29]:
def read_data(datadir, readers):
    files = lsdir(os.path.join(datadir, '*'))
    readable_files = []
    data = []
    for f in files:
        ext = get_extension(f)
        if ext in readers.keys():
            readable_files.append(f)
            data.append(data_readers[ext](f))
    return readable_files, data

In [30]:
fnames, data = read_data('data', data_readers)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

## Human readable descriptions (guessed from examining the data)

In [32]:
descriptions = ['population', 'population_expanded', 'ads', 'population_raw', 'stats_by_town', 'stats_by_town (excel)', 'census']

## Examining some of the raw data

In [33]:
data[0].head()

,Town #,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total Housing Units,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1.0,Bath,366,10,3,589.0,NaN,NaN,NaN
1,2.0,Bradford,822,13,0,1407.0,NaN,NaN,NaN
2,3.0,Canaan,1140,8,0,1867.0,NaN,NaN,NaN
3,4.0,Cavendish,510,40,3,1013.0,NaN,NaN,NaN
4,5.0,Charlestown,1738,0,0,2338.0,NaN,NaN,NaN

In [34]:
data[0].columns.values

array(['Town #', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Total Housing Units', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype=object)

In [35]:
data[1].head()

,ID,Town,DATE,AMOUNT,CODE,LIST,NOTES,Gave Again FY 19
0,14661.0,28.0,2017-12-01 00:00:00,50.0,170930.0,The New Yorker,NaN,NaN
1,1838.0,16.0,2017-12-04 00:00:00,25.0,170924.0,NWF,NaN,NaN
2,14664.0,9.0,2017-12-04 00:00:00,20.0,170929.0,Sierra Club,NaN,X
3,13889.0,12.0,2017-12-04 00:00:00,50.0,170924.0,NWF,previous-Smith Pond,X
4,14667.0,15.0,2017-12-06 00:00:00,25.0,170926.0,TNC,NaN,X

In [38]:
data[1].columns.values

array(['ID', 'Town', 'DATE', 'AMOUNT', 'CODE', 'LIST', 'NOTES',
       'Gave Again FY 19'], dtype=object)

In [39]:
data[2].head()

,ContactID,FirstName,LastName,City,State,ZipCode,TownID,Town,LandOwnerTownID,DeceasedDate,...,E-2010-11,E-2011-12,E-2012-13,E-2013-14,E-2014-15,E-2015-16,E-2016-17,E-2017-18,E-2018-19,E-2019-20
0,1544,Charles ...,Pitman,Chapel Hill,NC,27517,60,All Other Towns,0,NaT,...,0,0,0,0,0,0,0,0,0,0
1,1545,Pat,Reed,Lebanon,NH,03766,20,Lebanon,0,NaT,...,0,0,0,0,0,0,0,0,0,0
2,1546,David,Davenport,New London,NH,03257,61,All Other Towns NH,0,NaT,...,0,0,0,0,0,0,0,0,0,0
3,1547,Patricia,Stevens,Ascutney,VT,05030,41,Weathersfield,41,NaT,...,0,0,0,0,0,0,0,0,0,0
4,1548,Margaret Elizabeth,Stevens,Springfield,VT,05156,34,Springfield,0,2016-05-08,...,0,0,0,0,0,0,0,0,0,0

In [12]:
data[2].columns.values

array(['ContactID', 'FirstName', 'LastName', 'City', 'State', 'ZipCode',
       'TownID', 'Town', 'LandOwnerTownID', 'DeceasedDate',
       'DeceasedDateYN', 'U_Tot_Amt', 'U_Tot_Cnt', 'U-2000-01',
       'U-2001-02', 'U-2002-03', 'U-2003-04', 'U-2004-05', 'U-2005-06',
       'U-2006-07', 'U-2007-08', 'U-2008-09', 'U-2009-10', 'U-2010-11',
       'U-2011-12', 'U-2012-13', 'U-2013-14', 'U-2014-15', 'U-2015-16',
       'U-2016-17', 'U-2017-18', 'U-2018-19', 'U-2019-20', 'R-Tot-Amt',
       'R-Tot-Cnt', 'R-2000-01', 'R-2001-02', 'R-2002-03', 'R-2003-04',
       'R-2004-05', 'R-2005-06', 'R-2006-07', 'R-2007-08', 'R-2008-09',
       'R-2009-10', 'R-2010-11', 'R-2011-12', 'R-2012-13', 'R-2013-14',
       'R-2014-15', 'R-2015-16', 'R-2016-17', 'R-2017-18', 'R-2018-19',
       'R-2019-20', 'V-Tot-Cnt', 'V-2000-01', 'V-2001-02', 'V-2002-03',
       'V-2003-04', 'V-2004-05', 'V-2005-06', 'V-2006-07', 'V-2007-08',
       'V-2008-09', 'V-2009-10', 'V-2010-11', 'V-2011-12', 'V-2012-13',
       'V-2013-14', 'V-2014-15', 'V-2015-16', 'V-2016-17', 'V-2017-18',
       'V-2018-19', 'V-2019-20', 'E-Tot-Cnt', 'E-2000-01', 'E-2001-02',
       'E-2002-03', 'E-2003-04', 'E-2004-05', 'E-2005-06', 'E-2006-07',
       'E-2007-08', 'E-2008-09', 'E-2009-10', 'E-2010-11', 'E-2011-12',
       'E-2012-13', 'E-2013-14', 'E-2014-15', 'E-2015-16', 'E-2016-17',
       'E-2017-18', 'E-2018-19', 'E-2019-20'], dtype=object)

In [13]:
data[3].head()

,TownID,Town,Nprojects,Nacres,Nmembers,MedianHHIncome,MeanHHIncome,PercBAplus,PercAge55Plus
0,1,Bath,9,746.00,0,47386,60413,25.274725,48.844538
1,2,Bradford,20,2258.32,7,48056,58716,30.600000,32.912306
2,3,Canaan,9,1676.35,10,58333,68870,25.300000,33.863520
3,4,Cavendish,0,0.00,0,48750,69230,31.001727,40.359043
4,5,Charlestown,2,408.90,2,42693,50823,14.300000,36.050905

In [14]:
data[3].columns.values

array(['TownID', 'Town', 'Nprojects', 'Nacres', 'Nmembers',
       'MedianHHIncome', 'MeanHHIncome', 'PercBAplus', 'PercAge55Plus'],
      dtype=object)

In [15]:
data[4].head()

,ContactID,State,TownID,Town,LandOwnerTownID,DeceasedDateYN,U_Tot_Amt,U_Tot_Cnt,U200001,U200102,...,E201112,E201213,E201314,E201415,E201516,E201617,E201718,E201819,DeceasedDate,ConservedOwner
0,1544.0,NC,60.0,All Other Towns,0.0,0.0,571.95,6.0,0.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
1,1545.0,NH,20.0,Lebanon,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
2,1546.0,NH,61.0,All Other Towns NH,0.0,0.0,600.00,7.0,25.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
3,1547.0,VT,41.0,Weathersfield,41.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0
4,1548.0,VT,34.0,Springfield,0.0,1.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016.0,0.0

In [40]:
data[4].columns.values

array(['ContactID', 'State', 'TownID', 'Town', 'LandOwnerTownID',
       'DeceasedDateYN', 'U_Tot_Amt', 'U_Tot_Cnt', 'U200001', 'U200102',
       'U200203', 'U200304', 'U200405', 'U200506', 'U200607', 'U200708',
       'U200809', 'U200910', 'U201011', 'U201112', 'U201213', 'U201314',
       'U201415', 'U201516', 'U201617', 'U201718', 'U201819', 'RTotAmt',
       'RTotCnt', 'R200001', 'R200102', 'R200203', 'R200304', 'R200405',
       'R200506', 'R200607', 'R200708', 'R200809', 'R200910', 'R201011',
       'R201112', 'R201213', 'R201314', 'R201415', 'R201516', 'R201617',
       'R201718', 'R201819', 'VTotCnt', 'V200001', 'V200102', 'V200203',
       'V200304', 'V200405', 'V200506', 'V200607', 'V200708', 'V200809',
       'V200910', 'V201011', 'V201112', 'V201213', 'V201314', 'V201415',
       'V201516', 'V201617', 'V201718', 'V201819', 'ETotCnt', 'E200001',
       'E200102', 'E200203', 'E200304', 'E200405', 'E200506', 'E200607',
       'E200708', 'E200809', 'E200910', 'E201011', 'E201112', 'E201213',
       'E201314', 'E201415', 'E201516', 'E201617', 'E201718', 'E201819',
       'DeceasedDate', 'ConservedOwner'], dtype=object)

In [41]:
data[5].head()

,ContactID,State,TownID,Town,LandOwnerTownID,DeceasedDateYN,U_Tot_Amt,U_Tot_Cnt,U200001,U200102,...,E201819,DeceasedDate,ConservedOwner,Nprojects,Nacres,Nmembers,MedianHHIncome,MeanHHIncome,PercBAplus,PercAge55Plus
0,2903.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.6,32.912306
1,11472.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.6,32.912306
2,9206.0,VT,2.0,Bradford,0.0,0.0,75.0,2.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.6,32.912306
3,12910.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.6,32.912306
4,5029.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.6,32.912306

In [42]:
data[5].columns.values

array(['ContactID', 'State', 'TownID', 'Town', 'LandOwnerTownID',
       'DeceasedDateYN', 'U_Tot_Amt', 'U_Tot_Cnt', 'U200001', 'U200102',
       'U200203', 'U200304', 'U200405', 'U200506', 'U200607', 'U200708',
       'U200809', 'U200910', 'U201011', 'U201112', 'U201213', 'U201314',
       'U201415', 'U201516', 'U201617', 'U201718', 'U201819', 'RTotAmt',
       'RTotCnt', 'R200001', 'R200102', 'R200203', 'R200304', 'R200405',
       'R200506', 'R200607', 'R200708', 'R200809', 'R200910', 'R201011',
       'R201112', 'R201213', 'R201314', 'R201415', 'R201516', 'R201617',
       'R201718', 'R201819', 'VTotCnt', 'V200001', 'V200102', 'V200203',
       'V200304', 'V200405', 'V200506', 'V200607', 'V200708', 'V200809',
       'V200910', 'V201011', 'V201112', 'V201213', 'V201314', 'V201415',
       'V201516', 'V201617', 'V201718', 'V201819', 'ETotCnt', 'E200001',
       'E200102', 'E200203', 'E200304', 'E200405', 'E200506', 'E200607',
       'E200708', 'E200809', 'E200910', 'E201011', 'E201112', 'E201213',
       'E201314', 'E201415', 'E201516', 'E201617', 'E201718', 'E201819',
       'DeceasedDate', 'ConservedOwner', 'Nprojects', 'Nacres',
       'Nmembers', 'MedianHHIncome', 'MeanHHIncome', 'PercBAplus',
       'PercAge55Plus'], dtype=object)

In [43]:
data[5].head()

,TownID,Town,Nprojects,Nacres,Nmembers,MedianHHIncome,MeanHHIncome,PercBAplus,PercAge55Plus
0,1,Bath,9,746.00,0,47386,60413,25.274725,48.844538
1,2,Bradford,20,2258.32,7,48056,58716,30.600000,32.912306
2,3,Canaan,9,1676.35,10,58333,68870,25.300000,33.863520
3,4,Cavendish,0,0.00,0,48750,69230,31.001727,40.359043
4,5,Charlestown,2,408.90,2,42693,50823,14.300000,36.050905

In [44]:
data[5].columns.values

array(['TownID', 'Town', 'Nprojects', 'Nacres', 'Nmembers',
       'MedianHHIncome', 'MeanHHIncome', 'PercBAplus', 'PercAge55Plus'],
      dtype=object)

In [45]:
data[6].head()

,Town #,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Total Housing Units,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,1.0,Bath,366,10,3,589.0,NaN,NaN,NaN
1,2.0,Bradford,822,13,0,1407.0,NaN,NaN,NaN
2,3.0,Canaan,1140,8,0,1867.0,NaN,NaN,NaN
3,4.0,Cavendish,510,40,3,1013.0,NaN,NaN,NaN
4,5.0,Charlestown,1738,0,0,2338.0,NaN,NaN,NaN

In [46]:
data[6].columns.values

array(['TownID', 'Town', 'Nprojects', 'Nacres', 'Nmembers',
       'MedianHHIncome', 'MeanHHIncome', 'PercBAplus', 'PercAge55Plus'],
      dtype=object)

In [80]:
[f for f in fnames]

['data/UVLTdata_individual.dta',
 'data/UVLTdata_final.dta',
 'data/Direct Mailing Analysis.xlsx',
 'data/UVLTDataAnalysis.xls',
 'data/TownLevelData.xlsx',
 'data/TownLevelData.dta',
 'data/CensusInfoUpperValley2015JH.xlsx']

In [102]:
len(data[1].columns)

97

In [103]:
len(data[3].columns)

97

In [104]:
[i for i in data[1].columns if i not in data[3].columns and not i[-1].isdigit()]

['RTotAmt',
 'RTotCnt',
 'VTotCnt',
 'ETotCnt',
 'ConservedOwner',
 'Nprojects',
 'Nacres',
 'Nmembers',
 'MedianHHIncome',
 'MeanHHIncome',
 'PercBAplus',
 'PercAge55Plus']

In [148]:
data3_unique = data[3][[i for i in data[3].columns if i not in data[1].columns and not i[-1].isdigit()
                      and not i.startswith('R') and not i.startswith('V') and not i.startswith('E')]+['ContactID']]

data3_unique.drop('City', axis=1, inplace=True)

In [149]:
data3_unique

,FirstName,LastName,ZipCode,ContactID
0,Charles ...,Pitman,27517,1544
1,Pat,Reed,03766,1545
2,David,Davenport,03257,1546
3,Patricia,Stevens,05030,1547
4,Margaret Elizabeth,Stevens,05156,1548
5,Steven,Stocking,05045,1549
6,Jim,Taylor,03770,1550
7,Gerd,Riess,05043,1551
8,Ruth,Hubbard,03766,1552
9,Valerie,Mullen,05079,1553
10,Jean,Robinson,03755,1554
11,Lilla,"McLane-Bradley, Trustee",03755,1555
12,Kenneth,MacDonald,02109,1556
13,Edward,Emerson,05055,1557
14,Paul,Killebrew,03755,1558
15,Kendrick,Avent,05084,1560
16,Michael,Zubkoff,05045,1561
17,Robert E.,Alden,06902,1562
18,William,Fletcher,03770,1564
19,Jon,Appleton,05001,46
20,William,Ardinger,03746,47
21,Peter Hoyle,Armstrong,03755,48
22,Edward,Armstrong,05089,49
23,Arne,Arneson,03777,50
24,Stuart,Arnett,05089,51
25,C. Treat,Arnold,03755,52
26,Winslow,Arnold,05055,53
27,John,Arrison,05030,54
28,Christopher,Ashley,05055,55
29,Joan,Ashley,03755,56
...,...,...,...,...
13243,Elizabeth,Labombard,03768,15337
13244,Trish,Weekes,03741,15340
13245,Brooke,Hagerman,03769,15341
13246,Val,Hemingway,03773,15342
13247,Thomas,Brennan,03605,15343
13248,Milton,Blackington,03782,15344
13249,NaN,Carroll Family,03773,15346
13250,John,Yacavone,03781,15347
13251,Nancy,Miville,NaN,15348
13252,Thomas,Hampton,03755,15349
13253,Marie,Wiggins,03782,15350
13254,Tom,Yurkosky,03768,15351
13255,Adrienne,Flower,03768,15352
13256,Henry,Higgs,03784,15354
13257,James,Martin,05001,15355
13258,Casey,Atwood,03748,15356
13259,Wallace,Ragan,03768,15357
13260,Allen,Malcolm,03768,15358
13261,Robin,Lornitzo,03769,15359
13262,Bruce W.,Spaulding,06903,15361
13263,Maxwell P.,Maxham,05048,15362
13264,John,Fowler,03768,15363
13265,Dan,Breton,03768,15364
13266,Harold,Sargent,05641,15365
13267,Liz,Willis,03773,15367
13268,Henry,Flickinger,03768,15368
13269,Garret,Heaton,NaN,15369
13270,NaN,LaValley,03773,15370
13271,Mary,LaRock,03773,15371
13272,David,Rzucidlo,06241,15372

In [150]:
test = data[1].merge(data3_unique, on='ContactID')

In [152]:
test.to_pickle('merged_df.p')

In [91]:
[i for i in cid1 if i not in cid2]

[]

In [89]:
cid1

[1544.0,
 1545.0,
 1546.0,
 1547.0,
 1548.0,
 1549.0,
 1550.0,
 1551.0,
 1552.0,
 1553.0,
 1554.0,
 1555.0,
 1556.0,
 1557.0,
 1558.0,
 1560.0,
 1561.0,
 1562.0,
 1564.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 2854.0,
 2855.0,
 2856.0,
 2857.0,
 2858.0,
 2859.0,
 2860.0,
 2862.0,
 2863.0,
 2864.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 338.0,
 339.0,
 340.0,
 341.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 350.0,
 351.0,
 352.0,
 354.0,
 355.0,
 356.0,
 357.0,
 358.0,
 359.0,
 360.0,
 361.0,
 362.0,
 363.0,
 364.0,
 365.0,
 366.0,
 367.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 374.0,
 375.0,
 376.0,
 377.0,
 378.0,
 379.0,
 380.0,
 381.0,
 382.0,
 383.0,
 384.0,
 385.0,
 386.0,
 387.0,
 388.0,
 389.0,
 390.0,
 391.0,
 392.0,
 393.0,
 394.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 415.0,
 416.0,
 417.0,
 418.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 443.0,
 444.0,
 445.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 472.0,
 473.0,
 474.0,
 475.0,
 476.0,
 477.0,
 478.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 485.0,
 486.0,
 487.0,
 488.0,
 489.0,
 490.0,
 491.0,
 492.0,
 493.0,
 494.0,
 495.0,
 496.0,
 497.0,
 498.0,
 499.0,
 500.0,
 501.0,
 502.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 514.0,
 515.0,
 516.0,
 517.0,
 518.0,
 519.0,
 520.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 527.0,
 528.0,
 529.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 536.0,
 537.0,
 538.0,
 539.0,
 540.0,
 541.0,
 543.0,
 544.0,
 545.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 553.0,
 554.0,
 555.0,
 556.0,
 557.0,
 558.0,
 559.0,
 560.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 566.0,
 567.0,
 568.0,
 569.0,
 570.0,
 571.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 578.0,
 579.0,
 580.0,
 581.0,
 582.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 589.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 610.0,
 611.0,
 612.0,
 613.0,
 614.0,
 615.0,
 616.0,
 617.0,
 618.0,
 619.0,
 620.0,
 621.0,
 622.0,
 623.0,
 624.0,
 625.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 635.0,
 636.0,
 637.0,
 638.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 654.0,
 655.0,
 656.0,
 657.0,
 658.0,
 659.0,
 660.0,
 661.0,
 662.0,
 663.0,
 664.0,
 665.0,
 666.0,
 667.0,
 668.0,
 669.0,
 670.0,
 671.0,
 672.0,
 673.0,
 674.0,
 675.0,
 676.0,
 677.0,
 678.0,
 679.0,
 680.0,
 681.0,
 682.0,
 683.0,
 684.0,
 685.0,
 686.0,
 687.0,
 688.0,
 689.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 696.0,
 697.0,
 698.0,
 699.0,
 700.0,
 701.0,
 702.0,
 703.0,
 704.0,
 705.0,
 706.0,
 707.0,
 708.0,
 709.0,
 710.0,
 711.0,
 712.0,
 713.0,
 714.0,
 715.0,
 716.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 722.0,
 723.0,
 724.0,
 725.0,
 726.0,
 727.0,
 728.0,
 729.0,
 730.0,
 731.0,
 732.0,
 733.0,
 734.0,
 735.0,
 736.0,
 737.0,
 738.0,
 739.0,
 740.0,
 741.0,
 742.0,
 743.0,
 744.0,
 745.0,
 746.0,
 747.0,
 748.0,
 749.0,
 750.0,
 751.0,
 752.0,
 753.0,
 754.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 778.0,
 779.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 786.0,
 787.0,
 788.0,
 789.0,
 790.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 800.0,
 801.0,
 802.0,
 803.0,
 804.0,
 805.0,
 806.0,
 807.0,
 808.0,
 809.0,
 810.0,
 811.0,
 812.0,
 813.0,
 814.0,
 815.0,
 816.0,
 817.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 823.0,
 824.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 836.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 843.0,
 844.0,
 845.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 854.0,
 855.0,
 856.0,
 857.0,
 858.0,
 859.0,
 860.0,
 861.0,
 862.0,
 863.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 875.0,
 876.0,
 877.0,
 878.0,
 879.0,
 880.0,
 881.0,
 882.0,
 883.0,
 884.0,
 885.0,
 886.0,
 887.0,
 888.0,
 890.0,
 891.0,
 893.0,
 894.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 904.0,
 905.0,
 906.0,
 907.0,
 908.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 914.0,
 915.0,
 916.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 930.0,
 931.0,
 932.0,
 933.0,
 934.0,
 935.0,
 936.0,
 937.0,
 938.0,
 939.0,
 940.0,
 941.0,
 942.0,
 943.0,
 944.0,
 945.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 952.0,
 953.0,
 954.0,
 955.0,
 956.0,
 957.0,
 958.0,
 959.0,
 960.0,
 961.0,
 962.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 969.0,
 971.0,
 972.0,
 973.0,
 974.0,
 975.0,
 976.0,
 977.0,
 978.0,
 979.0,
 980.0,
 981.0,
 982.0,
 983.0,
 985.0,
 986.0,
 987.0,
 988.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 994.0,
 995.0,
 996.0,
 997.0,
 998.0,
 999.0,
 ...]

In [84]:
data[0]

,ContactID,State,TownID,Town,LandOwnerTownID,DeceasedDateYN,U_Tot_Amt,U_Tot_Cnt,U200001,U200102,...,E201112,E201213,E201314,E201415,E201516,E201617,E201718,E201819,DeceasedDate,ConservedOwner
0,1544.0,NC,60.0,All Other Towns,0.0,0.0,571.95,6.0,0.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
1,1545.0,NH,20.0,Lebanon,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
2,1546.0,NH,61.0,All Other Towns NH,0.0,0.0,600.00,7.0,25.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
3,1547.0,VT,41.0,Weathersfield,41.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0
4,1548.0,VT,34.0,Springfield,0.0,1.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016.0,0.0
5,1549.0,VT,13.0,Fairlee,13.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0
6,1550.0,NH,28.0,Plainfield,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
7,1551.0,VT,36.0,Thetford,36.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0
8,1552.0,NH,20.0,Lebanon,0.0,1.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2014.0,0.0
9,1553.0,VT,40.0,Vershire,0.0,1.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2014.0,0.0
10,1554.0,NH,16.0,Hanover,0.0,1.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2017.0,0.0
11,1555.0,NH,16.0,Hanover,0.0,1.0,1000.00,1.0,0.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2011.0,0.0
12,1556.0,MA,62.0,All Other Towns MA,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
13,1557.0,VT,24.0,Norwich,0.0,1.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2004.0,0.0
14,1558.0,NH,16.0,Hanover,0.0,0.0,525.00,15.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
15,1560.0,VT,17.0,Hartford,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
16,1561.0,VT,13.0,Fairlee,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
17,1562.0,CT,64.0,All Other Towns CT,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
18,1564.0,NH,28.0,Plainfield,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
19,46.0,VT,17.0,Hartford,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
20,47.0,NH,9.0,Cornish,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
21,48.0,NH,16.0,Hanover,0.0,0.0,3500.00,17.0,0.0,250.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
22,49.0,VT,44.0,Windsor,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
23,50.0,NH,26.0,Orford,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
24,51.0,VT,44.0,Windsor,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
25,52.0,NH,16.0,Hanover,0.0,1.0,400.00,9.0,25.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012.0,0.0
26,53.0,VT,24.0,Norwich,0.0,0.0,125.00,3.0,50.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
27,54.0,VT,41.0,Weathersfield,41.0,0.0,75.00,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0
28,55.0,VT,24.0,Norwich,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
29,56.0,NH,16.0,Hanover,0.0,1.0,38340.00,14.0,1000.0,350.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2015.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13897,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13898,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13899,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13900,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13901,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13902,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13903,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13904,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13905,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13906,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13907,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13908,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13909,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13910,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13911,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13912,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13913,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13914,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13915,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13916,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13917,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13918,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13919,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13920,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13921,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13922,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13923,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13924,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13925,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13926,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [85]:
data[1]

,ContactID,State,TownID,Town,LandOwnerTownID,DeceasedDateYN,U_Tot_Amt,U_Tot_Cnt,U200001,U200102,...,E201819,DeceasedDate,ConservedOwner,Nprojects,Nacres,Nmembers,MedianHHIncome,MeanHHIncome,PercBAplus,PercAge55Plus
0,2903.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
1,11472.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
2,9206.0,VT,2.0,Bradford,0.0,0.0,75.0,2.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
3,12910.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
4,5029.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
5,13212.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
6,6363.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
7,13203.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
8,11538.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
9,13205.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
10,6762.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
11,9746.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
12,4607.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
13,10811.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
14,9194.0,VT,2.0,Bradford,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,1.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
15,15240.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
16,10840.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
17,8772.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
18,8763.0,VT,2.0,Bradford,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,2007.0,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
19,9182.0,VT,2.0,Bradford,0.0,0.0,25.0,1.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
20,10869.0,VT,2.0,Bradford,2.0,0.0,700.0,7.0,0.0,0.0,...,0.0,NaN,1.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
21,7041.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
22,11699.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
23,7093.0,VT,2.0,Bradford,0.0,0.0,25.0,1.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
24,7008.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
25,12639.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
26,2388.0,VT,2.0,Bradford,0.0,0.0,175.0,3.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
27,10563.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
28,8942.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
29,8806.0,VT,2.0,Bradford,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,20.0,2258.32,7.0,48056.0,58716.0,30.600000,32.912306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13904,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13905,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13906,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13907,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13908,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13909,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13910,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13911,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13912,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13913,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13914,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13915,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13916,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13917,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13918,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13919,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13920,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13921,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13922,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13923,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13924,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13925,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13926,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13927,NaN,,1.0,Bath,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,746.00,0.0,47386.0,60413.0,25.274725,48.844538
13928,NaN,,4.0,Cavendish,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.00,0.0,48750.0,69230.0,31.001727,40.359043
13929,NaN,,10.0,Croydon,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,26.00,0.0,71094.0,79616.0,16.200000,36.054422
13930,NaN,,11.0,Dorchester,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.00,0.0,56719.0,93057.0,17.200000,40.317460
13931,NaN,,23.0,Newport,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,306.00,2.0,53900.0,62076.0,22.648084,35.908240
13932,NaN,,25.0,Orange,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,118.74,0.0,63750.0,73513.0,29.700000,47.670251
13933,NaN,,39.0,Unity,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,739.70,0.0,57917.0,64712.0,16.611296,41.672026

## How much data are we working with?

In [47]:
list(map(np.shape, data))

[(13927, 90), (13934, 97), (27, 8), (13273, 97), (45, 9), (45, 9), (48, 9)]

# Prediction analyses

We'll try to predict four things:
- Unrestricted donations in the next year given past history
- Restricted donations in the next year given past history
- Volunteering in the next year given past history
- Event attendance in the next year given past history

We will form these predictions using the following information from `data/UVLTDataAnalysis.xls`:
- Past history of unrestricted donations, restricted donations, volunteering, and event attendance for all years prior to the to-be-predicted year
- Whether or not the person owns conserved land
- Where the person's conserved land is located (if applicable)
- Whether the person is still alive (otherwise they won't be donating!)

In [48]:
years = np.arange(2001, 2021) #years to include in analysis
def get_start_year(x):
    try:
        return int(re.search('-\d{4}-', x).group()[1:-1])
    except:
        return np.nan #no year found

def get_deceased_year(x, maxyear=np.inf):
    if type(x) == pd._libs.tslib.Timestamp:
        y = x.year
    elif np.isscalar(x):
        try:
            y = int(x)
        except:
            return np.nan
        
    try:
        if y < maxyear:
            return y
        else:            
            return np.nan
    except:        
        return np.nan #not a timestamp

In [49]:
#preprocessing
n = np.where(np.array([x == 'data/UVLTDataAnalysis.xls' for x in fnames]))[0][0]
x = data[n].copy()
x.set_index('ContactID', inplace=True)
x.drop(['FirstName', 'LastName', 'City', 'TownID', 'Town', 'DeceasedDateYN'], axis=1, inplace=True)
x.drop(data[n].columns.values[np.where(np.array(['Tot' in x for x in data[n].columns.values]))[0]], axis=1, inplace=True)
x['DeceasedDate'] = x['DeceasedDate'].apply(get_deceased_year)

In [50]:
x.head()

,State,ZipCode,LandOwnerTownID,DeceasedDate,U-2000-01,U-2001-02,U-2002-03,U-2003-04,U-2004-05,U-2005-06,...,E-2010-11,E-2011-12,E-2012-13,E-2013-14,E-2014-15,E-2015-16,E-2016-17,E-2017-18,E-2018-19,E-2019-20
ContactID,,,,,,,,,,,,,,,,,,,,,
1544,NC,27517,0,NaN,0.0,50.0,21.95,100.0,200.0,100.0,...,0,0,0,0,0,0,0,0,0,0
1545,NH,03766,0,NaN,0.0,0.0,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1546,NH,03257,0,NaN,25.0,25.0,50.00,100.0,100.0,100.0,...,0,0,0,0,0,0,0,0,0,0
1547,VT,05030,41,NaN,0.0,0.0,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1548,VT,05156,0,2016.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
def get_training_and_test_data(df, year):
    #data to predict from
    x = df[['State', 'ZipCode', 'LandOwnerTownID', 'DeceasedDate']].copy()
    x['DeceasedDate'] = x['DeceasedDate'].apply(lambda i: get_deceased_year(i, maxyear=year)) #remove all deaths before the given year    
    
    inds = np.array(list(map(get_start_year, df.columns.values))) < (year - 1)
    x[df.columns.values[inds]] = df.iloc[:, inds]
    
    #data to predict
    inds = np.array(list(map(get_start_year, df.columns.values))) == year
    y = df[df.columns.values[inds]].copy()
    
    return x, y

In [52]:
train, test = get_training_and_test_data(x, 2018)

In [53]:
train.head()

,State,ZipCode,LandOwnerTownID,DeceasedDate,U-2000-01,U-2001-02,U-2002-03,U-2003-04,U-2004-05,U-2005-06,...,E-2007-08,E-2008-09,E-2009-10,E-2010-11,E-2011-12,E-2012-13,E-2013-14,E-2014-15,E-2015-16,E-2016-17
ContactID,,,,,,,,,,,,,,,,,,,,,
1544,NC,27517,0,NaN,0.0,50.0,21.95,100.0,200.0,100.0,...,0,0,0,0,0,0,0,0,0,0
1545,NH,03766,0,NaN,0.0,0.0,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1546,NH,03257,0,NaN,25.0,25.0,50.00,100.0,100.0,100.0,...,0,0,0,0,0,0,0,0,0,0
1547,VT,05030,41,NaN,0.0,0.0,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1548,VT,05156,0,2016.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
test.head()

           U-2018-19  R-2018-19  V-2018-19  E-2018-19
ContactID
1544             0.0        0.0          0          0
1545             0.0        0.0          0          0
1546             0.0        0.0          0          0
1547             0.0        0.0          0          0
1548             0.0        0.0          0          0

### Formatting data to facilitate predictions
When we formulate predictions, we'll want to be able to cleanly separate out one group of columns where every row in that column 

We'll create a dataframe where each contactID is repeated nyears-1 times.  The `U*`, `R*`, `V*`, and `E*` columns should be renamed to `U-10`, `U-9`, etc. indicated the number of years *prior* to the prediction year (everything before the earliest year with data should be set to nans).  Also include `U`, `R`, `V`, and `E` columns indicating the values of those columns on the prediction year.

In [55]:
def to_relative_years(df):
    years = np.array(list(map(get_start_year, df.columns.values)))
    maxyear = np.nanmax(years)
    minyear = np.nanmin(years)
    
    mapper = {}
    df = df.copy()
    if minyear == maxyear: #only one year; drop all years
        for c in df.columns.values[~np.isnan(years)]:
            mapper[c] = c[:-8]        
    else:
        for i, y in enumerate(years):
            if not np.isnan(y):
                c = df.columns.values[i]
                mapper[c] = c[:-7] + str(int(maxyear - y + 1))
    
    df.rename(mapper, inplace=True, axis=1)
    return df

In [56]:
columns = ['State', 'ZipCode', 'LandOwnerTownID', 'DeceasedDate']
categories = ['U', 'R', 'V', 'E']
for c in categories:
    columns.extend(list(map(lambda x: f'{c}-{x}', np.arange(len(years), 0, -1))))
columns.extend(categories)

In [57]:
df = pd.DataFrame(index=['ContactID'], columns=columns, data = [])

In [58]:
for y in years:
    next_train, next_test = get_training_and_test_data(x, y)
    next_merged = pd.concat([to_relative_years(train), to_relative_years(test)], axis=1)    
    df = pd.concat([df, next_merged], axis=0, copy=True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [59]:
#re-order columns
df = df[columns]

#drop nans in first row
df.drop(index=['ContactID'], inplace=True)

#rename index 
df.index.names = ['ContactID']

#set all nan values in 4th column on to 0s
df.iloc[:, 4:] = df.iloc[:, 4:].fillna(value=0)

In [60]:
df.head()

,State,ZipCode,LandOwnerTownID,DeceasedDate,U-20,U-19,U-18,U-17,U-16,U-15,...,E-6,E-5,E-4,E-3,E-2,E-1,U,R,V,E
ContactID,,,,,,,,,,,,,,,,,,,,,
1544,NC,27517,0,NaN,0,0,0,0.0,50.0,21.95,...,0,0,0,0,0,0,0.0,0.0,0,0
1545,NH,03766,0,NaN,0,0,0,0.0,0.0,0.00,...,0,0,0,0,0,0,0.0,0.0,0,0
1546,NH,03257,0,NaN,0,0,0,25.0,25.0,50.00,...,0,0,0,0,0,0,0.0,0.0,0,0
1547,VT,05030,41,NaN,0,0,0,0.0,0.0,0.00,...,0,0,0,0,0,0,0.0,0.0,0,0
1548,VT,05156,0,2016.0,0,0,0,0.0,0.0,0.00,...,0,0,0,0,0,0,0.0,0.0,0,0

# Prediction
We'll use the prior history of unrestricted donations, restricted donations, volunteering, and event attendance for all years prior to the to-be-predicted year to attempt to predict unrestricted donations, restricted donations, volunteering, and event attendance in the to-be-predicted year.

For this analysis, we'll ignore the State, ZipCode, and LandOwnerTownID variables.  We'll also drop any rows where the given individual is deceased (we'll assume that the probability of donating after an individual dies is 0, even though this is not strictly true 100% of the time-- e.g. people could hypothetically donate after death using wills and trusts).

We will use four types of classifiers:
- [Linear regression](https://en.wikipedia.org/wiki/Linear_regression)
- [Ridge regression](https://en.wikipedia.org/wiki/Tikhonov_regularization)
- [Multilayer perceptron (deep learning)](https://en.wikipedia.org/wiki/Multilayer_perceptron)

In [61]:
#ignore warning message
import warnings
warnings.simplefilter('ignore')

#drop dead donors and the DeceasedDate column
living_donors = df.loc[df['DeceasedDate'].apply(np.isnan), :]
living_donors.drop(labels=['DeceasedDate'], axis=1, inplace=True)

In [62]:
history = living_donors.iloc[:, 3:-4]
donations = living_donors.iloc[:, -4:]

In [63]:
history.head()

,U-20,U-19,U-18,U-17,U-16,U-15,U-14,U-13,U-12,U-11,...,E-10,E-9,E-8,E-7,E-6,E-5,E-4,E-3,E-2,E-1
ContactID,,,,,,,,,,,,,,,,,,,,,
1544,0,0,0,0.0,50.0,21.95,100.0,200.0,100.0,100.0,...,0,0,0,0,0,0,0,0,0,0
1545,0,0,0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1546,0,0,0,25.0,25.0,50.00,100.0,100.0,100.0,200.0,...,0,0,0,0,0,0,0,0,0,0
1547,0,0,0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1549,0,0,0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
donations.head()

             U    R  V  E
ContactID
1544       0.0  0.0  0  0
1545       0.0  0.0  0  0
1546       0.0  0.0  0  0
1547       0.0  0.0  0  0
1549       0.0  0.0  0  0

In [65]:
#split dataset into training and testing sets
history_train, history_test, donations_train, donations_test = train_test_split(
    history.values, donations.values, test_size=0.2, random_state=0)

In [66]:
models = [linear_model.LinearRegression(), linear_model.RidgeCV(), MLPRegressor(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(20, 20, 20))]
model_names = ['Linear regression', 'Ridge regression', 'Deep learning']

In [67]:
for i, m in enumerate(models):
    m.fit(history_train, donations_train)
    print(f'{model_names[i]} variance explained: {np.round(100*m.score(history_test, donations_test), 2)}%')

Linear regression variance explained: 44.1%
Ridge regression variance explained: 44.08%
Deep learning variance explained: 94.55%

# What's next?

## Questions to consider
- What are some potential confounds in the analyses above?
- What have we learned, if anything?
- What does it mean when some types of models explain the data better than other types of models?
- What is the "story" here, and how could we tell it in the simplest, cleanest way?
- What figures might we want to create?

## Future directions
- Correct some confounds and re-run the prediction analyses
- Explore the data and/or results
- Create some figures
- Tell a story!

In [72]:
import joblib

In [74]:
models[2]

MLPRegressor(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(20, 20, 20), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [73]:
joblib.dump(models[2], 'trainendNNNregressor')

['trainendNNNregressor']