In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import hypertools as hyp
%matplotlib notebook

In [2]:
#load in the data

fname = 'At Risk Students For Dartmouth.xlsx'
sheet1 = 'Year 16-17'
sheet2 = 'Year 17-18 9.25.17'
columns = ('id', 'grade', 'age', 'school', 'sex', 'homeless', 'disadvantaged', 'specialneeds',
           'excused1', 'unexcused1', 'tardy1',
           'excused2', 'unexcused2', 'tardy2',
           'excused3', 'unexcused3', 'tardy3',
           'excused4', 'unexcused4', 'tardy4')
y1_data = pd.read_excel(fname, sheetname=sheet1, skiprows=[0], names=columns)
y2_data = pd.read_excel(fname, sheetname=sheet2, skiprows=[0], names=columns)

#use student IDs as the index
y1_data.set_index('id', inplace=True)
y2_data.set_index('id', inplace=True)

In [3]:
pd.unique(y1_data['specialneeds'])

array([nan, 504, 'IEP'], dtype=object)

In [4]:
#do some data cleaning

#in "disadvantaged" column, replace "YES" with 1 and NaN with 0
y1_data['disadvantaged'] = y1_data['disadvantaged'].map({np.nan: 0, 'YES': 1})
y2_data['disadvantaged'] = y2_data['disadvantaged'].map({np.nan: 0, 'YES': 1})

#in "specialneeds" column, 
y1_data['specialneeds'] = y1_data['specialneeds'].map({np.nan: 0, 504: '504', 'IEP': 'IEP'})
y2_data['specialneeds'] = y2_data['specialneeds'].map({np.nan: 0, 504: '504', 'IEP': 'IEP'})

#replace '---' with 0 (Fourth marking period columns)
y1_data.replace('---', 0, inplace=True)
y2_data.replace('---', 0, inplace=True)

In [5]:
y1_data.head()

,grade,age,school,sex,homeless,disadvantaged,specialneeds,excused1,unexcused1,tardy1,excused2,unexcused2,tardy2,excused3,unexcused3,tardy3,excused4,unexcused4,tardy4
id,,,,,,,,,,,,,,,,,,,
300053,10,16,Hartford High School/HACTC,F,N,1,0,22,0,0,0,0,0,0,0,1,2,2,0
300339,12,18,Hartford High School/HACTC,F,N,0,0,4,2,4,13,9,6,27,15,5,36,15,7
300340,11,17,Hartford High School/HACTC,M,N,0,0,1,0,0,5,1,1,3,0,5,24,0,1
300344,9,15,Hartford High School/HACTC,M,N,0,0,0,0,0,15,0,0,0,1,0,3,0,0
300345,8,15,Hartford Memorial Middle School,M,N,0,504,0,0,0,3,0,1,4,0,1,5,0,3

In [6]:
#in “disadvantaged” column, replace “YES” with 1 and NaN with 0
y1_data[‘disadvantaged’] = y1_data[‘disadvantaged’].map({np.nan: 0, ‘YES’: 1})
y2_data[‘disadvantaged’] = y2_data[‘disadvantaged’].map({np.nan: 0, ‘YES’: 1})

SyntaxError: invalid character in identifier (<ipython-input-6-81943d5b7a82>, line 2)

In [19]:
#in “specialneeds” column,
y1_data[‘specialneeds’] = y1_data[‘specialneeds’].map({np.nan: 0, 504: ‘504’, ‘IEP’: ‘IEP’})
y2_data[‘specialneeds’] = y2_data[‘specialneeds’].map({np.nan: 0, 504: ‘504’, ‘IEP’: ‘IEP’})

SyntaxError: invalid character in identifier (<ipython-input-19-9fd14055b022>, line 2)

In [30]:
#replace ‘---’ with 0 (Fourth marking period columns)
y1_data.replace(‘---‘, 0, inplace=True)
y2_data.replace(‘---‘, 0, inplace=True)

SyntaxError: invalid character in identifier (<ipython-input-30-9f7ace29abe0>, line 2)

In [31]:
#Create dummy variables for male and female, create new dataframe
y1_data_sex = pd.get_dummies(y1_data[‘sex’])
y1_data_new = y1_data.join(y1_data_sex)
y1_data_new

SyntaxError: invalid character in identifier (<ipython-input-31-d7c7780e39ec>, line 2)

In [32]:
#Drop all strings in grade column
y1_data_new.loc[list(map(lambda x: x not in [‘K’, ‘AW’, ‘PA’, ‘PD’, ‘PP’], y1_data_new[‘grade’]))]

SyntaxError: invalid character in identifier (<ipython-input-32-2877123bf099>, line 2)

In [33]:
#Create new year-long columns
y1_data_new[‘excused’]=y1_data_new[‘excused1’] + y1_data_new[‘excused2’] + y1_data_new[‘excused3’]
y1_data_new[‘unexcused’]=y1_data_new[‘unexcused1’] + y1_data_new[‘unexcused2’] + y1_data_new[‘unexcused3’]
y1_data_new[‘tardy’]=y1_data_new[‘tardy1’] + y1_data_new[‘tardy2’] + y1_data_new[‘tardy3’]

SyntaxError: invalid character in identifier (<ipython-input-33-d770ffe05f2d>, line 2)